/* CSS Document */
@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), local('Proxima Nova'), url("fonts/Proxima-Nova-Reg.otf") format('opentype');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: local('Proxima Nova Bold'), local('Proxima Nova Bold'), url("fonts/Proxima-Nova-Bold.otf") format('opentype');
}

html {
    min-height:100%;
    height: auto !important;
    height: 100%;
    text-align: left;
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-size: 0.85em;
}

body {
    padding-top: 50px;
    font-size: 0.875rem;
    font-family: "Proxima Nova" !important;
}

[role="main"] {
  padding-top: 80px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.navbar {
    background-color: #0066ff;
    padding: 0 !important;
}

.background-principal {
    background-color: #0066ff !important;
}

.border-principal {
    border-color: #0066ff !important;
}

.background-secundario {
    background-color: #0082ff !important;
}

.border-secundario {
    border-color: #0082ff !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h6 {
    margin: 0 0 5px;
    color: #777;
    font-weight: bold;
}

.fontblack {
    font-weight: black;
}
