body {
    padding-top: 0;
}

[role="main"] {
  padding-top: 10px; /* Space for fixed navbar */
}

.card {
    display:block !important;
}

.navbar {
    position:relative !important;
}

.logo_menu {
    float:left;
}

